tut4_validation/WebContent/wsdl/ServicePort.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://tut4/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceService" targetNamespace="http://tut4/">
<types>
<xsd:schema>
<xsd:import namespace="http://tut4/" schemaLocation="http://127.0.0.1:7001/tut4/ServiceService?xsd=1"/>
</xsd:schema>
</types>
<message name="getSQRT">
<part element="tns:getSQRT" name="parameters"/>
</message>
<message name="getSQRTResponse">
<part element="tns:getSQRTResponse" name="parameters"/>
</message>
<message name="makeOperation">
<part element="tns:makeOperation" name="parameters"/>
</message>
<message name="makeOperationResponse">
<part element="tns:makeOperationResponse" name="parameters"/>
</message>
<message name="getDate">
<part element="tns:getDate" name="parameters"/>
</message>
<message name="getDateResponse">
<part element="tns:getDateResponse" name="parameters"/>
</message>
<portType name="Service">
<operation name="getSQRT">
<input message="tns:getSQRT"/>
<output message="tns:getSQRTResponse"/>
</operation>
<operation name="makeOperation">
<input message="tns:makeOperation"/>
<output message="tns:makeOperationResponse"/>
</operation>
<operation name="getDate">
<input message="tns:getDate"/>
<output message="tns:getDateResponse"/>
</operation>
</portType>
<binding name="ServicePortBinding" type="tns:Service">
<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
<operation name="getSQRT">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="makeOperation">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getDate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ServiceService">
<port binding="tns:ServicePortBinding" name="ServicePort">
<soap:address location="http://127.0.0.1:7001/tut4_validation/services/ServicePort"/>
</port>
</service>
</definitions>
